body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

:root {
  --main-background-color: #2f303a;
  --main-text-color: #757575;
  --accent-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid tomato;*/
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.desk {
  padding-top: 94px;
  padding-bottom: 0;
}

/*header*/

.main-header {
  display: flex;
  align-items: center;
}

.header {
  background-color: #ffff;
}

.header {
  border-bottom: 1px solid #ececec;
}
.web {
  color: var(--accent-color);
}

.logo-header {
  /*padding-top: 24px;
  padding-bottom: 25px;*/

  font-family: 'Raleway';
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

/*.nav .item + .item {
  margin-left: 50px;
}*/

.nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.nav a:hover,
.nav a:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

/*.contacts .item + .item {
  margin-left: 50px;
}*/

.contacts a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/*hero*/

.hero {
  background-color: var(--main-background-color);
  color: #ffff;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: var(--accent-color);
  color: #ffff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 152px;
  min-height: 30px;
  margin-top: 30px;
}

/* button hero*/

.btn:hover,
.btn:focus {
  border: none;
  background-color: #188ce8;
}

.btn:active {
  border: none;
}

/* advatages*/

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
}

.advantage-review {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.advantage-review .item {
  flex-basis: calc((100% - 90px) / 4);

  /*width: 270px;*/
}

/*.advantage-review .item + .item {
margin-left: 30px;
}*/

.advantage-point {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-transform: uppercase;
}

.advantage-review p {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.7142;
}

/*Activity*/

.activity {
  text-align: center;
}

.activity-review {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.activity-review .item {
  flex-basis: calc((100% - 60px) / 3);
}

/*.activity-review .item + .item {
  margin-left: 30px;
}*/

/*team*/

.team {
  background-color: #f5f4fa;
  text-align: center;
}

.team-review {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

/*team-review .item {
  flex-basis: calc((100% - 90px) / 4);
}
/*.team-review .item + .item {
  margin-left: 30px;
}*/

.card-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-names {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.team-review p {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.1875;
}

.team-review .item {
  flex-basis: calc((100% - 90px) / 4);
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0px 0px 4px 4px;
}

/*footer*/

.footer {
  background-color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/*.main-footer {
  display: flex;
  flex-direction: column;
}*/

.logo-footer {
  /*padding-top: 60px;*/
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Raleway';
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
}

.address {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142;
  color: #ffff;
}

.footer-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts a {
  font-size: 14px;
  line-height: 1.7142;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}

/* ПОРТФОЛІО*/

.portfolio-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;

  margin-bottom: 50px;
}

/*.portfolio-buttons .item {
  flex-basis: calc((100% - 90px) / 4);
}

/*.portfolio-buttons .item + .item {
  margin-left: 8px;
}*/

.portfolio-buttons button {
  min-width: 73px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: none;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  text-align: center;
}

.portfolio-buttons button:hover,
.portfolio-buttons button:focus,
.portfolio-buttons button:active {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-buttons .main {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 25px;
  padding-left: 25px;
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.portfolio-examples a {
  text-decoration: none;
}

.portfolio-examples .item {
  background-color: #ffffff;
  flex-basis: calc((100% - 60px) / 3);
  /*text-align: center;*/
}

.project-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio-examples p {
  /*padding-bottom: 20px;
  padding-left: 24px;*/

  font-size: 16px;
  line-height: 1.875;
  color: var(--main-text-color);
}

.portfolio-examples .box {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
